# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Dataset & Models
# =========================
data/
dataset/
images/
models/
outputs/

# =========================
# Test files
# =========================
test/

# =========================
# Frontend (Node.js)
# =========================
node_modules/
project-code/frontend/node_modules/

# =========================
# Large files
# =========================
*.zip
*.tar
*.gz
*.jpg
*.jpeg
*.png

# =========================
# Env files
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store


